PORT=3001
DATABASE_URL=file:./prod.db

JWT_SECRET=change-me-long-random
JWT_EXPIRES_IN=7d

AUTH_EMAIL_WHITELIST=admin@pena.local,persona01@pena.local,persona02@pena.local,persona03@pena.local,persona04@pena.local,persona05@pena.local,persona06@pena.local,persona07@pena.local,persona08@pena.local,persona09@pena.local,persona10@pena.local,persona11@pena.local,persona12@pena.local,persona13@pena.local,persona14@pena.local,persona15@pena.local,persona16@pena.local,persona17@pena.local,persona18@pena.local

CORS_ORIGIN=https://TU-FRONTEND.vercel.app

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
WEEKLY_EMAIL_TO=

